# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
UnityJamTooling/[Ll]ibrary/
UnityJamTooling/[Tt]emp/
UnityJamTooling/[Oo]bj/
UnityJamTooling/[Bb]uild/
UnityJamTooling/[Bb]uilds/
UnityJamTooling/[Ll]ogs/
UnityJamTooling/[Uu]ser[Ss]ettings/
UnityJamTooling/[Mm]emoryCaptures/
UnityJamTooling/[Rr]ecordings/
UnityJamTooling/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
UnityJamTooling/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
UnityJamTooling/[Aa]ssets/[Ss]treamingAssets/aa.meta
UnityJamTooling/[Aa]ssets/[Ss]treamingAssets/aa/*
